[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/argparse"]
	path = external/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "external/tensorflow"]
	path = external/tensorflow
	url = https://github.com/tensorflow/tensorflow.git
